.sobreNos {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  &__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;
    > p {
      font-family: 'Josefin Sans', sans-serif;
    }
    @media (max-width: 800px) {
      font-size: 1rem;
    }
  }
  @media (max-width: 1260px) {
    flex-direction: column;
  }


}

.imagens {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: space-between;
  &__imagem {
    width: 600px;
    img {
      border-radius: 5px;
      width: 100%;
    }
  }
}