@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

body {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  font-family: 'Italiana', serif;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
