@import "styles/variaveis";
@import "styles/breakpoints";

.cardapio {
  &__filtros {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }
}